section#blog.content
    .container.blog-wrap
        .blog-wrap__inner
            .content-title
                .content-heading Blog Posts
                .content-subheading My passion in writing
            .card-wrap
                .card
                    .card-blog
                        .card-blog__image
                            a(class='link', href='https://blog.yipl.com.np/frontend-quicktips-6-start-practicing-mobile-first-responsive-web-design-2fa148ab24c5?source=user_profile---------2-')
                                img(src="http://onlineadvantages.net/wp-content/uploads/2015/03/bigstock-Closeup-shot-of-laptop-with-di-93731087.jpg", class="card-img")
                                .card-blog__title Start Practicing Mobile First Responsive Web Design

                        .card-blog__content
                            h6.text-info Responsive Web Design
                            p.card-blog__description Mobile first responsive design is a philosophy, an idea or a goal. How you achieve that goal is open for interpretation. So, building responsive websites is a must-have skill for front-end developers today. When we talk about responsive designs...
                    .card-blog.no-img.purple
                        .card-blog__content
                            h5.text-info Animation
                            h4.text-sub-info
                                a(class='link', href='https://blog.yipl.com.np/keep-on-hacking-frontend-quicktips-5-svg-inline-animation-55bd44c1a404#.rpl1doljf') "SVG inline animation"
                            p.card-blog__description It’s super cool when we talk about animation. I love css animation. I constantly try to incorporate animations in the designs. It is a great way to grab a user’s attention...

                .card
                    .card-blog.no-img.blue
                        .card-blog__content
                            h5.text-info Javascript
                            h4.text-sub-info
                                a(class='link', href='https://blog.yipl.com.np/keep-on-hacking-frontend-quicktips-4-say-hello-to-elixir-c90dd1b4cc2c#.bkfbx1z1b') "Say hello to Elixir !"
                            p.card-blog__description Laravel Elixir provides a clean, fluent API for defining basic Gulp tasks for your Laravel application. Elixir supports several common CSS and JavaScript pre-processors, and even testing tools. Using method...
                    .card-blog
                        .card-blog__image
                            a(class='link', href='https://blog.yipl.com.np/keep-on-hacking-frontends-quicktips-1-css-tools-that-i-use-b81166087622#.j80ozc7gy')
                                img(src="https://cdn-images-1.medium.com/max/2000/1*FyUo04FTpsi-537mAoWlVg.png", class="card-img")
                                .card-blog__title Css tools that I use

                        .card-blog__content
                            h6.text-info Css Tools (CSS)
                            p.card-blog__description Hey guys, I’m starting this series by sharing some important CSS tools that I use to start a project. CSS tools are important weapons for front-end developers...
                .card
                    .card-blog
                        .card-blog__image
                            a(class='link', href='https://blog.yipl.com.np/gulp-workflow-fee6e4bf8866#.h00rx4qib')
                                img(src="http://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/13260890_1783339698566208_661093704_n.jpg?ig_cache_key=MTI2MjQ4ODU1NDIwMDY4Mjc2MA%3D%3D.2", class="card-img")
                                .card-blog__title Gulp is a javascript automated task runner

                        .card-blog__content
                            h6.text-info Gulp Js (Javascript)
                            p.card-blog__description As front-end developers, we often need to look at the tools we use and decide if we are using the right tool for the job. It creates a good practice...
                    .card-blog.no-img.green
                        .card-blog__content
                            h5.text-info CSS Framework
                            h4.text-sub-info
                                a(class='link', href='https://blog.yipl.com.np/css-superheroes-the-bourbon-family-e27e39ba157c') "CSS Superheroes: The Bourbon Family"
                            p.card-blog__description When I say “The Bourbon Family”, I am referring to Bourbon, Neat, Bitters, and Refills. What are they? Well, Bourbon is a mixin library for Sass...
            .view-all-btn
                button.btn.btn-fill.arrow-right
                    a(class='link', href='https://medium.com/@nirazanbasnet')
                        span View all

