section#codepen.content
    .container
        .title
            h1
                span Explore my
                span Codepen works
            button.btn.btn-fill.arrow-right
                a(href="http://codepen.io/Nirajanbasnet/pens/public/", class="link") View all

        .isolayer.isolayer--deco1.isolayer--shadow
            ul.grid
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/BQgELL')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/1.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/WopYOR')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/2.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/oYxRGg')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/3.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/mOVxgg')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/4.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/ObyYYa')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/5.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/Pbombv')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/6.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/WGaVPV')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/7.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/regPqx')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/8.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/ZWdoZq')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/9.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/XdaWqM')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/10.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/MyKbxd')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/11.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/NRxQwV')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/12.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/dMqVBv')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/13.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/vKQggV')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/14.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/kkZoLA')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/15.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/xOKoXO')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/16.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/mERzwy')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/17.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/ZOrqxO')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/18.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/eBpxaJ')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/19.png", class="grid__img layer")
                li.grid__item
                    a(class="grid__link", href='http://codepen.io/Nirajanbasnet/pen/aBdoBz')
                        .layer
                        .layer
                        .layer
                        img(src="/assets/img/codepen-img/20.png", class="grid__img layer")