section#connect.content
    .container.connect-wrap
        .connect-wrap__inner
            .content-title
                .content-heading Get in touch
                .content-subheading DRAG & DROP THE ICONS INTO THE LAPTOP
            .draggable-monitor
                .drag-place.ui-droppable
                .drag-arrow
                a(class='social-link ui-draggable social-facebook', href='https://www.facebook.com/nirajanb89')
                a(class='social-link ui-draggable social-google-plus', href='https://plus.google.com/+NirazanBsnt/posts')
                a(class='social-link ui-draggable social-linkedin', href='www.linkedin.com/in/nirazanbasnet')
                a(class='social-link ui-draggable social-instagram', href='https://www.instagram.com/nrznbsnt/')
                a(class='social-link ui-draggable social-twitter', href='https://twitter.com/Nirajanb89')
                a(class='social-link ui-draggable social-github', href='https://github.com/Neev89')
                a(class='social-link ui-draggable social-codepen', href='http://codepen.io/NirazanB/')
                a(class='social-link ui-draggable social-medium', href='https://medium.com/@nirazanbasnet')
