footer#footer.content
    .container
        .footer-inner
            a(class='email-link',href="mailto:er.nirajan.basnet@gmail.com") er.nirajan.basnet@gmail.com
            .copyright
                span © 2016 Nirajan Basnet The Freelancer All right reserved
