section.hero-banner
    .hero-banner__image
        img(src="/assets/img/banner-bg.jpg", class="banner-bg")
    div.hero-banner__inner
        .container
            .intro
                header.heading
                    h2.heading__title I am Nirajan Basnet
            div.in-touch
                a(href="#") Lets get to work
