section.hero-banner.cd-section.visible
    .hero-banner__content
        .hero-banner__image
            .banner-img
        .hero-banner__inner
            .container
                .intro
                    h2.heading__title Me, Nirajan Basnet
                    span.animated-letters.category
                        b.is-visible Frontend-Engineer
                        b UI/UX-Developer
                        b Creative & Mentor
                .in-touch
                    a(href="#blog", class="arrow-wrap") Know me!
