section#highlight.content.cd-section
    .container.highlight-wrap
        .highlight-wrap__inner
            div
                span.animated-letters.category
                    b.is-visible.big-text #creative
                    b.big-text #awesome
                    b.big-text #bold

