#codepen {
  overflow: hidden;
  position: relative;
  height: 100vh;
  min-height: 800px;
  max-height: 1200px;
  padding: 40px;
  background: linear-gradient(20deg, #D1D7EF, #0b0102);
  .container {
    max-width: 100%;
  }
  .title {
    position: relative;
    z-index: 2;
    max-width: 500px;
  }
  h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 30px;
    span {
      display: block;
    }
  }
  a {
    color: #fff;
  }
}

body {
  overflow-x: hidden;
}

.pseudo-scroller {
  pointer-events: none;
}

.isolayer {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.grid,
.grid__item,
.grid__link {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.grid__item {
  width: 300px;
}

.grid__link {
  position: relative;
  z-index: 1;
  display: block;
  img {
    object-fit: initial;
  }
}

.grid__img {
  display: block;
  max-width: 100%;
}

.grid__title {
  font-size: 0.65em;
  font-weight: 600;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.grid__item:hover .grid__title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.layer {
  position: relative;
  display: block;
  &:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Shadow effect */
.isolayer--shadow .grid__link::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(-1px) scale(0.95);
  transform: translateZ(-1px) scale(0.95);
  -webkit-transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.isolayer--shadow .grid__item:hover .grid__link::before {
  opacity: 0.2;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(-1px) scale(1);
  transform: translateZ(-1px) scale(1);
}

.isolayer--deco1 {
  width: 1200px;
  height: 900px;
}

.isolayer--deco1 .grid__link .layer:first-child:not(img) {
  background: #ac5cf5;
}

.isolayer--deco1 .grid__link .layer:nth-child(2):not(img) {
  background: #5db4eb;
}

.isolayer--deco1 .grid__link .layer:nth-child(3):not(img) {
  background: #5debb4;
}

.isolayer--deco1 .grid__link div.layer {
  width: 370px;
  height: 270px;
  opacity: 0.4;
}

.isolayer--deco1 .grid__item {
  width: 400px;
  height: 300px;
  padding: 15px;
}

.isolayer--deco1 .grid__item:nth-child(2) {
  margin-top: 150px;
}


