#connect {
  background: url("../img/connect-bg.jpg") repeat center;
}

.draggable-monitor {
  background: url("../img/connect-monitor.png") no-repeat center;
  height: 243px;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 145px;
  position: relative;
}

.drag-place {
  height: 196px;
  margin: auto;
  position: relative;
  top: 14px;
  width: 314px;
  z-index: 100;
}

.drag-arrow {
  background: url("../img/draggable-arrow.png") no-repeat;
  width: 245px;
  height: 119px;
  position: absolute;
  right: 22%;
  top: -50px;
  z-index: 101;
}

.social-drag-hover {
  background: rgba(250, 104, 98, .3);
  border: #FA6862 2px dotted;
}

.social-link {
  background: url("../img/social-link.png") no-repeat top left;
  display: inline-block;
  position: absolute;
  width: 69px;
  height: 68px;
}

.social-facebook {
  background-position: 0 -118px;
  right: 15%;
  top: -80px;
}

.social-google-plus {
  background-position: 0 -472px;
  right: 16%;
  top: 80px;
}

.social-linkedin {
  background-position: 0 -708px;
  right: 0;
  top: 33px;
}

.social-instagram {
  background-position: 0 -590px;
  left: 20%;
  top: -80px;
}

.social-twitter {
  background-position: 0px -1062px;
  left: 20%;
  top: 110px;
}

.social-github {
  background-position: 0 -354px;
  left: 4%;
  top: 150px;
}

.social-codepen {
  background-position: 0 -1300px;
  left: 5%;
  top: 0;
}

.social-medium {
  background-position: 0 -1418px;
  right: 5%;
  top: 210px;
}