//	Typography

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: $accent-color;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

p {
  margin: 0 0 20px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

// Links

a {
  color: $link-color;
  text-decoration: none;
  outline: 0;
  display: block;
}

a:hover, a:focus {
  color: lighten($link-color, 20%);
}

// Selection colors (easy to forget)

::selection {
  background: $selection-color;
}

::-moz-selection {
  background: $selection-color;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $selection-color;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px solid #66615B;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 18px;
  color: #66615B;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
  &:hover{
    outline: none !important;
  }
  > span {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}

.btn-fill {
  color: #FFFFFF;
  background-color: #66615B;
  opacity: 1;
  &:hover {
    background-color: #403D39;
    color: #FFFFFF;
    border-color: #403D39;
  }
}

.arrow-right{
  position: relative;
  display: inline-block;
  color: #FFFFFF;
  opacity: 1;
  padding-right: 40px;
  &:after {
    content: '';
    position: absolute;
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-left: transparent;
    border-bottom: transparent;
    top: 11px;
    right: 22px;
    transition: all 300ms ease-in-out;
  }
  &:hover {
    &:after {
      right: 15px;
    }
  }
}

// Basic Styles

html,
body {
  min-height: 100vh;
}

body {
  background: $bg-color;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.content {
  padding: 50px 0;
}

.container {
  lost-center: 960px;
}

.content-title {
  text-align: center;
}

.content-heading {
  font-weight: bold;
  color: $text-color;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 40px;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
}

.content-subheading {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: #777;
}