@media only screen and (min-width: 400px) {

  .email-link {
    font-size: 24px;
    line-height: 32px;
    &:before {
      margin: 0 auto 15px;
    }
  }

  .copyright {
    span {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 480px) {
  .heading__title {
    font-size: 42px;
  }

  .animated-letters {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 48px;
  }

  #highlight {
    padding: 90px 35px !important;
  }

  .big-text {
    font-size: 60px;
  }
}

@media only screen and (min-width: 630px) {
  .card {
    lost-column: 1/2;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    lost-column: 1/3;
  }

  #highlight {
    padding: 100px 40px !important;
  }

  .card-blog__image {
    margin-top: -30px;
  }

  .card-blog {
    margin-bottom: 40px;
  }

  .big-text {
    font-size: 100px;
  }

  .email-link {
    font-size: 42px;
    line-height: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  #highlight {
    padding: 120px 50px !important;
  }

  .big-text {
    font-size: 160px;
  }
}